/* HEADER STARTED */

.Navbar{
    background:  linear-gradient(-180deg,#f53d2d,#f63);
    /* background:  linear-gradient(-180deg,#005082,#698474); */
    width: 100%;
    height: 15vh;
   }
  
   .Navbar-Menu-1{
     margin-left: 130px;
   }
  
   .Navbar-Menu-JDI{
    display: flex;
   }
   
  
   .Navbar-Text-Left-1{
    font-size: 14px;
    font-family: 'Roboto';
    color: white;
    margin-right: 5px;
    margin-top: 7px;
   }
   
   .Navbar-Text-Left-1:hover{
     color: #dbdbdb;
     cursor: pointer;
    }
    
    .Navbar-Text-Left-2{
     font-size: 14px;
     font-family: 'Roboto';
     color: white;
     margin-right: 7px;
     margin-top: 7px;
    }
  
    .Navbar-Icons-1{
      font-size: 16px;
      font-family: 'Roboto';
      color: white;
      margin-right: 8px;
      margin-top: 9px;
    }
  
    .Navbar-Icons-2{
      font-size: 17px;
      font-family: 'Roboto';
      color: white;
      margin-right: 8px;
      margin-top: 9px;
    }
  
    .Navbar-Icons-3{
      font-size: 19px;
      font-family: 'Roboto';
      color: white;
      margin-right: 620px;
      margin-top: 8px;
    }
  
    .Navbar-Icons-4{
      font-size: 21px;
      font-family: 'Roboto';
      color: white;
      margin-right: 2px;
      margin-top: 6px;
    }
  
    .Navbar-Icons-4:hover{
      color: #dbdbdb;
      cursor: pointer;
    }
  
    .Navbar-Icons-5{
      font-size: 21px;
      font-family: 'Roboto';
      color: white;
      margin-right: 4px;
      margin-top: 6px;
    }
  
    .Navbar-Icons-5:hover{
      color: #dbdbdb;
      cursor: pointer;
    }
  
    .Navbar-Text-Right-1{
      font-size: 13px;
      font-family: 'Roboto';
      color: white;
      margin-right: 10px;
      margin-top: 7px;
    }
  
    .Navbar-Text-Right-1:hover{
      color: #dbdbdb;
      cursor: pointer;
    }
  
    .Navbar-Text-Right-2{
      font-size: 13px;
      font-family: 'Roboto';
      color: white;
      margin-right: 10px;
      margin-top: 7px;
    }
  
    .Navbar-Text-Right-2:hover{
      color: #dbdbdb;
      cursor: pointer;
    }
  
    .Navbar-Text-Right-Register{
      font-size: 14px;
      font-family: 'Roboto';
      color: white;
      margin-right: 10px;
      margin-top: 7px;
      font-weight: bolder;
    }
  
    .Navbar-Text-Right-Register:hover{
      color: #dbdbdb;
       cursor: pointer; 
    }
  
    .Navbar-Text-Right-4{
      font-size: 14px;
      font-family: 'Roboto';
      color: white;
      margin-right: 10px;
      margin-top: 7px;
    }
  
    .Navbar-Text-Right-Login{
      font-size: 14px;
      font-family: 'Roboto';
      color: white;
      margin-right: 10px;
      margin-top: 7px;
      font-weight: bolder;
    }
    
    .Navbar-Text-Right-Login:hover{
      color: #dbdbdb;
      cursor: pointer;
    }
  
    .Navbar-Middle{
      margin-left: 120px;
      display: flex;
    }
  
    .Image-Logo{
      width: 165px;
      height: 100%;
    }
  
    .Flex{
      display: flex;
      margin-left: 52px;
      margin-top: 5px;
    }
  
    .Navbar-Input-Search{
      width: 770px;
      border: 1px solid white;
      border-radius: 5px;
      height: 40px;
    }
  
    .Navbar-Icon-Search{
      font-size: 20px;
      color: white;
      margin-bottom: 9px;
    }
  
    .Navbar-Icon-Cart{
      margin-left: 70px;
      margin-top: 13px;
      color: white;
      font-size: 25px;
    }
  
   form.example button {
     float: left;
     width: 9%;
     padding: 10px;
     background: linear-gradient(-180deg,#f53d2d,#f63);
     /* background:  linear-gradient(-180deg,#005082,#698474); */
     color: white;
     font-size: 17px;
     border: 1px solid #f63;
     border-left: none;
     height: 40px;
     cursor: pointer;
     border-radius: 3px;
  
   }
  
   .Navbar-Bottom{
     display: flex;
     z-index: 2;
     position: absolute;
     left: 339px;
     top: 90px;
   }
  
   .Navbat-Bottom-Text{
     font-size: 12px;
     font-family: 'Roboto';
     color: white;
     margin-right: 10px;
     margin-top: 7px;
     cursor: pointer;
     text-decoration: none;
   }
  
   .LinkAsu{
     text-decoration: none;
   }
  
   /* HEADER ENDED */

 @media screen and (min-width: 1920px) {
    .Navbar-Menu-1{
      margin-left: 330px;
    }
    .Navbar-Middle{
      margin-left: 320px;
      display: flex;
    }
    .Navbar-Bottom{
      display: flex;
      z-index: 2;
      position: absolute;
      left: 539px;
      top: 90px;
    }
  } 

 @media screen and (max-width: 1300px) {
  .Navbar{
    height: 25vh;
   }
    .Navbar-Menu-1{
      margin-left: 190px;
    }
    .Navbar-Middle{
      margin-left: 180px;
      display: flex;
    }

    .Navbar-Icons-3{
      font-size: 19px;
      font-family: 'Roboto';
      color: white;
      margin-right: 490px;
      margin-top: 8px;
    }

     .Image-Logo{
      width: 155px;
      height: 100%;
    }

    .Navbar-Bottom{
      display: flex;
      z-index: 2;
      position: absolute;
      left: 400px;
      top: 100px;
    }
    .Navbar-Input-Search{
      width: 690px;
      border: 1px solid white;
      border-radius: 5px;
      height: 40px;
    }
    .Navbar-Icon-Cart{
      margin-left: 30px;
    }
  } 

 /* @media screen and (min-width: 1550px) {
    .Navbar-Menu-1{
      margin-left: 330px;
    }
    .Navbar-Middle{
      margin-left: 320px;
      display: flex;
    }
    .Navbar-Bottom{
      display: flex;
      z-index: 2;
      position: absolute;
      left: 539px;
      top: 90px;
    }
  }  */

