.jumbotron-1{
    /* border: yellow 2px solid; */
    width: 1519px;
    height: 360px;
    margin: 30px 0 0 0;
}



.jumbotron-1-box-1{
    /* border: black 1px solid; */
    margin: 0px 227px 0 129px;
    height: 235px;
    width: 1200px;
    max-height: 235px;
    min-height: 235px;
}

.jumbotron-1-box-1-content-1{
    /* border: pink 1px solid; */
    width: 797px;
    height: 100%;
    min-height: auto;
    min-width: auto;
}

.jumbotron-1-box-1-content-2{
    /* border: red 1px solid; */
    margin: 0 0 0 5px;
    width: 399px;
    height: 100%;
    min-height: auto;
    min-width: auto;
}

.box-1-content-2{
    /* border: 1px green solid; */
    width: 397px;
    height: 115px;
}


.jumbotron-1-box-2{
    /* border: pink 1px solid; */
    background-color: white;
    width: 1200px;
    height: 110px;
    min-height: 108px;
    margin: 10px 130px 0 130px;
}

.jumbotron-1-box-2-content{
    /* border: 1px green solid; */
    width: 100px;
    height: 108px;
    margin: 0 10px 0 10px;
    min-width: auto;
    min-height: auto;
}

.box-2-content-box{
    /* border: purple 1px solid; */
    height: 70px;
    width: 99px;
    margin: 15px 0 15px 0;
}

.box-2-content-logo{
    /* border:1px navy solid; */
    width: 45px;
    height: 45px;
    margin: 0 25px 0 26px;
}

.box-2-content-title{
    /* border: 1px cyan solid; */
    width: 100px;
    height: 14px;
    max-width: 150px;
    font-size: 13px;
    margin: 0 0 5px 0px;
    justify-content: center;
    text-align: center;
}