.jumbotron2-content-1{
    /* border: 1px black solid; */
    width: 1200px;
    height: 60px;
    margin: 20px 0 0 130px;
    padding: 15px 20px 0 20px;
    justify-content: center;
    background-color: white;
}


.jumbotron2-content-1-box-1{
    /* border: 1px pink solid; */
    width: 1140px;
    height: 20px;
}


.jumbotron2-content-2{
    /* border: pink 1px solid; */
    width: 1200px;
    height: 302px;
    margin: 0 0 0 130px;
    background-color: white;
}


.jumbotron2-content-2-box1{
    /* border-top: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid; */
    width: 120px;
    height: 150px;
}

.jumbotron2-content-2-box2{
    /* border-right: 1px silver solid; */
    width: 120px;
    height: 150px;
}


.jumbotron2-content-2-box1-logo{
    /* border: 1px black solid; */
    height: 77px;
    width: 84px;
    margin: 9px 0 0 17px;
}

.jumbotron2-content-2-box1-title{
    /* border: 1px pink solid; */
    height: 20px;
    width: 108px;
    max-height: 40px;
    text-align: center;
    margin: 10px 0 0 5px;
    font-size: 14px;
}

.jumbotron2-content-2-box2-logo{
    /* border: 1px black solid; */
    height: 77px;
    width: 84px;
    margin: 9px 0 0 17px;
}

.jumbotron2-content-2-box2-title{
    /* border: 1px pink solid; */
    height: 20px;
    width: 108px;
    max-height: 40px;
    text-align: center;
    margin: 10px 0 0 5px;
    font-size: 14px;
}


/* responsive */

/* fakhran 1280x720 */


@media screen and (min-width: 1280px) {
    .jumbotron2-content-1{
        /* border: 1px black solid; */
        margin: 20px 0 0 40px;
    }
    .jumbotron2-content-2{
        margin: 0 0 0 40px;
    }
}

/* hapis 1440x900*/

@media screen and (min-width: 1440px) {
    .jumbotron2-content-1{
        /* border: 1px black solid; */
        margin: 20px 0 0 122px;
    }
    .jumbotron2-content-2{
        margin: 0 0 0 122px;
    }
}

/* idham 1536x864 */
@media screen and (min-width: 1536px) {
    .jumbotron2-content-1{
        margin: 20px 0 0 130px;
    }
    .jumbotron2-content-2{
        margin: 0 0 0 130px;
    }
}

/* dzaky 1920x1080 */

@media screen and (min-width:1920px){
    .jumbotron2-content-1{
        margin: 20px 0 0 322px;
    }
    .jumbotron2-content-2{
        margin: 0 0 0 322px;
    }
}


/* responsive end */