/* LOGIN START */


.container-img-login{
    margin-left: 350px;
  }
 .container-login{
   background-color: #ff742d;
   display: flex;
 }
 .container-box-login{
   background-color: white;
   width: 500px;
   height: 500px;
   border-radius: 2%;
   margin-top: 60px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
 }
 .container-box-login-layer2{
   margin: 30px
 }
 .box-login-1{
   display: flex;
   margin-bottom: 30px;
   
 }
 .daftar-login{
   margin-top: 3px
 }
 .form-group{
   border: 1px solid #d6d6de;
   border-radius: 4%;
   display: flex;
   /* margin-bottom: 100px; */
 }
 .form-group input{
   margin: 3px;
   font-size: 14px;
   border: none;
 }
 textarea:focus, 
 textarea.form-control:focus, 
 input.form-control:focus, 
 /* input[type=text]:focus,  */
 /* input[type=password]:focus,  */
 /* input[type=email]:focus,  */
 /* input[type=number]:focus,  */
 [type=text].form-control:focus, 
 [type=password].form-control:focus, 
 [type=email].form-control:focus, 
 [type=tel].form-control:focus, 
 [contenteditable].form-control:focus {
   box-shadow: inset 0 0px 0 #ddd;
 }
 
 .box-login-3{
   font-size: 14px;
   color: #0055aa;
   margin-top: 20px
 }
 .mata-mata{
   margin-top: 8px;
   margin-right: 20px;
   color: grey;
   cursor: pointer
 }
 .box-login-4{
   display: flex;
   /* border: 1px solid red; */
   margin-top: 40px;
 }
 .cuma-garis{
   width: 185px;
   height: 1px;
   background-color: #cccccc;
   margin-top: 12px
 }
 .box-login-4 span{
   font-size: 14px;
   color: #cccccc;
   padding: 0 16px 0 16px
 }
 .box-login-5{
   display: flex;
   margin-top: 30px;
 }
 .box-login-5 button{
 width: 215px;
 height: 40px;
 background-color: #4285f4;
 font-size: 16px;
 font-weight: bold;
 color: white;
 display: flex;
 margin-right: 10px;
 }
 
 
 /* LOGIN END  */



 @media screen and (max-width: 1810px) {
    .container-img-login{
        margin-left: 170px;
      }
  }