/* DetailProduk */

.container-produk{
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  /* border: 1px solid black; */
}
.container-carousel-detail{
  padding: 30px;
  display: flex;
  min-width: 110vh;
  /* border: 4px solid black; */
}
.container-carousel{
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#f4732e ;
  color: white;
  font-size: 12px;
  /* border: 4px solid black; */
}

.container-detail-produk{
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 100vh;
  min-height: fit-content;
  padding: 35px;
  margin-left: 30px;
  font-family: 'Roboto';
  text-decoration: none;
  /* border: 1px solid black; */
}
/* DetailProduk End */


 /* Font Biasa */
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Poppins|Public+Sans|Raleway|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alata|Bebas+Neue|Fjalla+One|Maven+Pro|Oswald|Questrial|Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
/* Font Miring */
@import url("https://fonts.googleapis.com/css?family=Allan|Bangers|Kaushan+Script|Knewave|Lemonada|Vast+Shadow&display=swap");
